<!--
 - Collaborators:       Sahith Chandra, Andrew Inman, Preet Patel
 - Name:        MEMOZ
 -->

<div class="sticky-note" data-memo="{{memo}}" data-date="{{memoDate}}" data-color="{{stickyColor}}">
    <p>{{truncatedMemo}}</p>
</div>
