<!--
 - Collaborators:       Sahith Chandra, Andrew Inman, Preet Patel
 - Name:        MEMOZ
 -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MEMOZ</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/stickyTemplate.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>
    <script src="/script.js" charset="utf-8" defer></script>
</head>
<body>

    {{{body}}}

    <footer>
        <span>Designed by: Sahith Chandra, Andrew Inman, & Preet Patel </span>
    </footer>
</body>
</html>