<!--
 - Collaborators:       Sahith Chandra, Andrew Inman, Preet Patel
 - Name:        MEMOZ
 -->

 <header></header>
 <div class="error-container">
    <div class="title-image-container">
        <img src="MEMOZ.png" alt="MEMOZ Title">
    </div>
    <h2>404</h2>
    <h3>Page not found...</h3>
    <h4>Don't worry, you're not lost.</h4>
</div>
