<!--
 - Collaborators:       Sahith Chandra, Andrew Inman, Preet Patel
 - Name:        MEMOZ
 -->

<header></header>
<div class="homepage">
    <div class="title-image-container">
        <img src="MEMOZ.png" alt="MEMOZ Title">
    </div>
    <h2>Login</h2>
    <div class="homepage-input-container">
        <input class="homepage-input" id="homepage-username" placeholder="Username" type="text" />
        <input class="homepage-input" id="homepage-password" placeholder="Password" type="password" />
        <button id="homepage-login-button">Login</button>
    </div>
    <h2><a href="/register">Register</a></h2>
</div>
