<!--
 - Collaborators:       Sahith Chandra, Andrew Inman, Preet Patel
 - Name:        MEMOZ
 -->

<header></header>
<div class="register">
    <div class="title-image-container">
        <img src="../MEMOZ.png" alt="MEMOZ Title">
    </div>
    <div>
        <h2>Register:</h2>
    </div>
    <div class="register-input-container">
        <!-- Handlebars template for input fields -->
        <input class="homepage-input" id="register-username" placeholder="Username" type="text" />
        <input class="homepage-input" id="register-password" placeholder="Password" type="password" />
        <input class="homepage-input" id="register-confirm" placeholder="Confirm Password" type="password" />
    </div>
    <button id="register-button">Confirm</button>
</div>
